nodered flow.json
[{"id":"25e26658.39b89a","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"d467d34b.b819d","type":"inject","z":"25e26658.39b89a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":260,"wires":[["1b41eedd.f0ee81"]]},{"id":"1b41eedd.f0ee81","type":"http request","z":"25e26658.39b89a","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://174d6264-82a3-42e3-8266-24927df49f3f-bluemix.cloudant.com/mask-detection/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":430,"y":260,"wires":[["ea6e5b57.d299a8"]]},{"id":"ea6e5b57.d299a8","type":"function","z":"25e26658.39b89a","name":"","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":260,"wires":[["2ba482c.22ec27e","3e0cf1d.6f7fc8e","c282580c.a688b"]]},{"id":"2ba482c.22ec27e","type":"debug","z":"25e26658.39b89a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":260,"wires":[]},{"id":"c282580c.a688b","type":"delay","z":"25e26658.39b89a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":380,"wires":[["72a4ffc5.1219b8"]]},{"id":"8a05ecb0.9ed9c","type":"ui_button","z":"25e26658.39b89a","name":"","group":"892cc0d1.8cedf","order":3,"width":14,"height":1,"passthru":false,"label":"GET IMAGES","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":360,"wires":[["1b41eedd.f0ee81"]]},{"id":"3e0cf1d.6f7fc8e","type":"ui_template","z":"25e26658.39b89a","group":"892cc0d1.8cedf","name":"","order":2,"width":14,"height":11,"format":"<img src=\"{{msg.payload}}\" width=\"400\" height=\"400\" />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":320,"wires":[[]]},{"id":"72a4ffc5.1219b8","type":"function","z":"25e26658.39b89a","name":"","func":"msg.payload=\"https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":380,"wires":[["3e0cf1d.6f7fc8e"]]},{"id":"892cc0d1.8cedf","type":"ui_group","name":"Person Detected Without having Mask","tab":"f080d8b1.bbfec8","order":1,"disp":true,"width":14,"collapse":false},{"id":"f080d8b1.bbfec8","type":"ui_tab","name":"Smart Mask Detection System","icon":"dashboard","order":6,"disabled":false,"hidden":false}]